<div class="footer__wrap">
  <div class="footer__menu">
    <ul class="footer__list">
      <li><a>EVENTS</a></li>
      <li><a>CHARITIES</a></li>
      <li><a>REGISTER</a></li>
      <li><a>CONTACT</a></li>
    </ul>
  </div>
  <div class="footer__social">
    <a class="fa fa-facebook" target="_blank" href="#"></a>
    <a class="fa fa-twitter" target="_blank" href="#"></a>
    <a class="fa fa-pinterest-p" target="_blank" href="#"></a>
    <a class="fa fa-instagram" target="_blank" href="#"></a>
  </div>
  <div class="footer__copyright">
    <p>Copyright 2016 The Pink Series. All Rights Reserved.</p>
  </div>
</div>
