
  <div class="Nav__top">
    <div class="Nav__discount">GROUP DISCOUNT</div>
    <div class="Nav__start"></div>
    <div class="Nav__dialog"><p class="Nav__text">GET SOME FRIENDS & REGISTER NOW FOR A <a class="Nav__link">GROUP DISCOUNT</a></p></div>
    <div class="Nav__social">
      <a class="fa fa-pinterest-p fa-2x" aria-hidden="true" target="_blank" href="#"></a>
      <a class="fa fa-facebook fa-2x" aria-hidden="true" target="_blank" href="#"></a>
      <a class="fa fa-twitter fa-2x" aria-hidden="true" target="_blank" href="#"></a>
      <a class="fa fa-instagram fa-2x" aria-hidden="true" target="_blank" href="#"></a>
    </div>
  </div>
  <div class="Nav__main">

      <div class="Nav__logo"><h4><img src="../../../../images/logos/logo.svg"></h4></div>
      <div class="Nav__menu">
        <ul class="Nav__list">
          <li><a target="_blank" href="#">EVENTS</a></li>
          <li><a target="_blank" href="#">RESULTS</a></li>
          <li><a target="_blank" href="#">CHARITIES</a></li>
        </ul>
      </div>
      <div class="Nav__bars"><button class="fa fa-bars fa-2x fa_with_bg" aria-hidden="true"></button></div>
  </div>

  <div class="nav__cell">
    <div class="Nav__logo"><img src="../../../../images/logos/logo.svg"></div>
    <div class="Nav__bars"><button class="fa fa-bars fa-2x fa_with_bg" aria-hidden="true"></button></div>
  </div>

