.Main__container {



  padding-top: 50px;
  padding-bottom: 60px;
 /* width: 80%;*/

  /*max-width: 1200px;*/
  /*min-width: 800px;*/
}

@media screen and (max-width: 1120px){
  padding-bottom: 120px;
}
