<!DOCTYPE html>
<html>
    <head>
        <title>angular2-template</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- compiled CSS --><% styles.forEach(function(file) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>"><% }); %>

        <script type="application/javascript">
            setTimeout(function () {
                location.reload(true);
            }, 5 * 60 * 1000);
        </script>
    </head>
    <body>
        <center>
            <h1>angular2-template is currently undergoing maintenance.</h1>
            <p>Please try again in 5 minutes.</p>
            <img src="/assets/img/logo.png" alt="angular2-template">
        </center>
    </body>
</html>
