<div class="Home__wrapper">
 <!-- <div class="Home__main">

    <div class="Home__logo"><h4>The Pink Series</h4></div>
    <div class="Home__menu">
      <ul class="Home__list">
        <li><a>EVENTS</a></li>
        <li><a>RESULTS</a></li>
        <li><a>CHARITIES</a></li>
      </ul>
    </div>
  </div>-->
  <div class="Home__first">
    <div><h3>GIRLS JUST WANNA</h3></div>
    <div><img src="../../images/logos/GO%20RUN!.png"></div>
    <div><h4>UTAH'S FIRST, LARGEST, AND BEST LADIES ONLY PARTY. JOIN US.</h4></div>
    <div><button class="site__button">SEE EVENTS NEAR YOU</button></div>
  </div>
  <div class="Home__second">
    <div class="Home__second__clock">
      <div class="Home__second__logo"></div>
    </div>
    <div class="Home__second__dialog">
      <div><h4>GET READY, GET SET, GO!</h4></div>
      <div><p>The Pink Series was established for girl runners(the gentlemen can run with us but aren't eligable for awards).
        Our goal is to provide a women's retreat where women can run an awesome event and then party after!  The Pink Series
        continues to grow each year and is Utah's largest womens only event, and race party.</p></div>
      <div><button class="site__button">REGISTER NOW</button></div>
    </div>
  </div>
  <div class="Home__third">
    <div><h6>All Across Utah Women Are</h6></div>
    <div><h1>RUNNING</h1></div>
    <div><h1>FOR A CAUSE</h1></div>
    <div class="Home__third__buttons"><button class="site__button1" (click)="showDialog = !showDialog">WATCH VIDEO</button><button class="site__button2">SIGN UP</button></div>
  </div>
  <div class="Home__fourth">
    <div class="Home__fourth__dialog">
      <div><h4>SUPPORT THE CAUSE BY "LIFTING HEARTS"</h4></div>
      <div><p>With a common goal to be healthy survivors and to help other survivors heal, the group
      Lifting Hearts was organized to provide mentoring, monthly support meetings, breast cancer retreats,
      service opportunities, and family activities, all aimed at sharing support, wisdom, laughter and
      hope.  Each woman who joins Lifting Hearts gains instant friendships with women who have walked in her path.
      She finds a place to celebrate today and figure out tomorrow, whatever comes.  Become a part of the cause.</p></div>
      <div><button class="site__button3">GIVE MORE</button></div>
    </div>
    <div class="Home__fourth__logo"><img src="../../images/logos/Page 1.svg"></div>
  </div>
  <div class="Home__fourth__small">
    <div class="Home__fourth__small__header">
      <div><img src="../../images/logos/Page 1.svg"></div>
      <div><h5>SUPPORT THE CAUSE BY "LIFTING HEARTS"</h5></div>
    </div>
    <div class="Home__fourth__small__body">
      <div><p>With a common goal to be healthy survivors and to help other survivors heal, the group
        Lifting Hearts was organized to provide mentoring, monthly support meetings, breast cancer retreats,
        service opportunities, and family activities, all aimed at sharing support, wisdom, laughter and
        hope.  Each woman who joins Lifting Hearts gains instant friendships with women who have walked in her path.
        She finds a place to celebrate today and figure out tomorrow, whatever comes.  Become a part of the cause.</p></div>
      <div><button class="site__button3">GIVE MORE</button></div>
    </div>
  </div>
  <div class="Home__fifth">
    <div class="Home__fifth__pic first">
      <div class="first__dialog">
        <ul class="first__list">
          <li><h4>FOLLOW</h4></li>
          <li><h4>IN OUR</h4></li>
          <li><h4>FOOTSTEPS</h4></li>
        </ul>
      </div>
      <div class="first__social">
        <a class="fa fa-facebook" target="_blank" href="#"></a>
        <a class="fa fa-twitter" target="_blank" href="#"></a>
        <a class="fa fa-pinterest-p" target="_blank" href="#"></a>
        <a class="fa fa-instagram" target="_blank" href="#"></a>
      </div>

    </div>
    <div class="Home__fifth__pic second"><img src="../../images/pics/Bitmap.jpg"></div>
    <div class="Home__fifth__pic third"><img src="../../images/pics/Bitmap2.jpg"></div>
    <div class="Home__fifth__pic fourth"><img src="../../images/pics/Bitmap3.jpg"></div>
    <div class="Home__fifth__pic fifth"><img src="../../images/pics/Bitmap4.jpg"></div>
    <div class="Home__fifth__pic sixth"><img src="../../images/pics/Bitmap5.jpg"></div>
  </div>
</div>

<video-modal [(visible)]="showDialog">


    <div class="video-container"><iframe width="640" height="360" src="https://www.youtube.com/embed/6YVBj2o_3mg?autoplay=1"
                                     frameborder="0" allowfullscreen></iframe></div>


  <!--<button (click)="showDialog = !showDialog" class="video-button">Close</button>-->
</video-modal>
